/* Set default font family */
body {
  font-family: Arial, sans-serif;
}

.offer-p1 {
  font-size: 1.875em; /* 14px/16=0.875em */
}
.offer-p2 {
  font-size: 1.875em; /* 14px/16=0.875em */
}
.offer-p3 {
  font-size: 1.875em; /* 14px/16=0.875em */
}
.offer-p4 {
  font-size: 0.875em; /* 14px/16=0.875em */
}

.slogan {
  background-color: #20B2AA;
  color: white;
}

.hd_bg_img {
  background-image: url("../img/stats.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  color: #197ff2; /* Updated header text color */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* Added font family */
  position: relative; /* Added position */
}

.hd_bg_img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Added background color and adjusted opacity */
  z-index: -1; /* Adjusted z-index */
}

.hd_bg_img h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.hd_bg_img p {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Add border radius and shadow to subject list */
ul {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style booking button */
a.w3-button.w3-teal {
  background-color: #20B2AA;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: inline-block;
}

/* Style booking button on hover */
a.w3-button.w3-teal:hover {
  background-color: #008080;
}

/* Style container divs */
.w3-container {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.w3-container-no-rad {
  /*font-size:10vw;*/
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/*
h1.w3-container-no-rad {
  font-size:10vw;
} */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* Style list items */
li {
  margin: 10px 0px;
}

/* Add color to headings */
h2 {
  color: #20B2AA;
  margin: 20px 0px;
}

/* Style policies list */
ul.w3-border {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Style inline Calendly widget */
.calendly-inline-widget {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: white;
}

/* Style Calendly widget height */
.calendly-inline-widget {
  height: 700px;
}

/* Style Calendly widget width for smaller screens */
@media (max-width: 576px) {
  .calendly-inline-widget {
    min-width: 100%;
  }
}
